<div>
    <div class="grid grid-cols-3 lg:grid-cols-6 gap-2">
        <div>
            <FluentCard>
                <div class="flex gap-2">
                    <FluentIcon Value="@(new Icons.Regular.Size20.Backpack())"></FluentIcon> Vacation
                </div>
            </FluentCard>
        </div>
        <div>
            <FluentCard>
                <div class="flex gap-2">
                    <FluentIcon Value="@(new Icons.Regular.Size20.People())"></FluentIcon> Employees
                </div>
            </FluentCard>
        </div>
        <div>
            <FluentCard>
                <div class="flex gap-2">
                    <FluentIcon Value="@(new Icons.Regular.Size20.Timer())"></FluentIcon> Overtime
                </div>
            </FluentCard>
        </div>
        <div class="flex">
            <FluentCard>
                <div class="flex gap-2">
                    <FluentIcon Value="@(new Icons.Regular.Size20.Doctor())"></FluentIcon> Doctor
                </div>
            </FluentCard>
        </div>
        <div>
            <FluentCard>
                <div class="flex gap-2">
                    <FluentIcon Value="@(new Icons.Regular.Size20.PersonDelete())"></FluentIcon> Sanctions
                </div>
            </FluentCard>
        </div>
        <div>
            <FluentCard>
                <div class="flex gap-2">
                    <FluentIcon Value="@(new Icons.Regular.Size20.BuildingMultiple())"></FluentIcon> Departments
                </div>
            </FluentCard>
        </div>
    </div>
</div>